
/* !important!
   do not import global.less into other .less file, because all styles in global.less
   will also be imported.
   Instead, import it directly in the index.tsx
*/

@import './variables.less';

body{
  margin: 0px;
}

.logo{
  display: inline-block;
  background-color: @logo-color;
  padding: 5px 10px;
  border-radius: 6px;
  color: @white;
}